#------------------------------------------------------------#
#     CI Build Configuration for master branch pre-release   #
#------------------------------------------------------------#
version: 1.0.0.{build}
image: Visual Studio 2017
configuration: Release
environment:
  GITHUB_TOKEN:
    secure: HHg9YTykqpuNJUKm2KvjMDtsC0rpZQFq28jPrVcu7IBkf9Q163NGkREb5Zpk3c8K
  NUGET_TOKEN:
    secure: Heq9vYmBfHAacrNKI417M6EjDP7BZYPmxclZ3by3Dqdnv8AOrfGH7+UB8D21ApGD
# Do not build feature branch with open Pull Requests
skip_branch_with_pr: true
# Automatically register private account and/or project AppVeyor NuGet feeds.
nuget:
  account_feed: false
build_script:
- ps: .\build.ps1
test: off
